.messages{"data-messages-id": "#{messages.id}"}
  .upper-message
    .upper-message__name
      = messages.user.name
    .upper-message__date
      = messages.created_at.strftime("%Y/%m/%d %H:%M")
  .lower-message 
    - if messages.body.present?   
      .lower-message__message
        = messages.body
    =image_tag messages.image.url, class: 'lower-message__image' if messages.image.present?
    