$darknavy: #253141;
$lightwhite: #FFFFFF;
$navy: #2f3e51;
$black: #333333;
$gray: #999999;
$lightblue: #38AEF0;
$form: #434A54;
$white: #fafafa;
$alert_orange: #F35500;
$side_header_font: 16px;
$side_group_name: 15px;
$side_group_message: 11px;