.notification {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  .notice {
    background-color: $lightblue;
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: $white;
    text-align: center;
  }
}