.side-bar{
  box-sizing: border-box;
  color: $white;
  height: 100%;
  width: 300px;
  float: left;
  .header{
    background-color: $darknavy;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    &__name {
      font-size: $side_header_font;
      display: inline-block;
      font-weight: bold;
    }
    &__lists {
      display: inline-block;
      float: right;
      .list {
        display: inline-block;
      }
      .icon {
        color: $white;
        font-size: $side_header_font;
      }
    }
  }
    
  .groups {
    background-color: $navy;
    height: calc(100vw - 100px);
    padding: 0 20px;
    .group {
      box-sizing: border-box; 
      padding: 20px 0 40px;
      &__name {
        font-size: $side_group_name;
      }
      &__message {
        font-size: $side_group_message;
        margin-top: 5px;
      }
    }
  }
}